* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  --color-bg: #1a1a1a;  /* Fondo oscuro */
  --color-bg-2: #333333;  /* Fondo secundario */
  --color: #00bcd4;  /* Azul más brillante */
  --shadow: #0097a7;  /* Sombra más clara */
  --color-accent: #ff9800;  /* Naranja vibrante */
  --color-link: #ff9800;  /* Rosa fuerte para los enlaces */
  --color-light: #f5f5f5;  /* Color claro para el texto */
  --color-border: #757575;  /* Color de borde */
  background-color: var(--color-bg);
}

/*---------- SECCION PRINCIPAL ----------*/

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("photos/background.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0px -100px 90px #000;
  height: 100dvh;
  z-index: 10;
}

.title-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 20;
}

.img-title {
  width: calc(100dvw - 1.5rem);
  filter: drop-shadow(0px 0px 4px var(--shadow)) drop-shadow(0px 0px 20px var(--shadow));
  z-index: 20;
}

.flechas {
  position: absolute;
  top: calc(90dvh - 1rem);
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100%;
  z-index: 20;
}

.material-symbols-outlined-1 {
  color: var(--color);
  animation: parpadear1 1.3s infinite;
}

.material-symbols-outlined-2 {
  color: var(--color);
  animation: parpadear2 1.3s infinite;
}

.material-symbols-outlined-3 {
  color: var(--color);
  animation: parpadear3 1.3s infinite;
}

@keyframes parpadear1 {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
  75% {
      opacity: 0;
  }
  100% {
      opacity: 0;
  }
}

@keyframes parpadear2 {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  75% {
      opacity: 0;
  }
  100% {
      opacity: 0;
  }
}

@keyframes parpadear3 {
  0% {
      opacity: 0;
  }
  25% {
      opacity: 0;
  }
  75% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

/*---------- CONTENIDO REGALOS ----------*/

.contenedor {
  background-color: #0003;
  height: 150dvh;
  width: 100dvw;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: inset 0px 100px 90px #000;
}

.titulo {
  font-size: 30px;
  padding: 0 1rem ;
  margin: 0;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--color);
  display: inline-block;
  animation: moverYRebotar 2s ease-in-out infinite;
}

@keyframes moverYRebotar {
  0% {
    transform: translateY(0);
    opacity: 0.5;
  }
  25% {
    transform: translateY(-10px); /* Desplaza hacia arriba */
    opacity: 1;
  }
  50% {
    transform: translateY(5px); /* Rebote hacia abajo */
  }
  75% {
    transform: translateY(-5px); /* Rebote hacia arriba */
  }
  100% {
    transform: translateY(0); /* Regresa a su posición original */
    opacity: 0.5;
  }
}

a {
  color: var(--color-link); /* Usando color de acento para enlaces */
  text-decoration: none;
  font-family: sans-serif;
}

.regalo {
  width: 35vw;
  height: 17vh;
  cursor: pointer;
  background-color: var(--color-bg);
  opacity: 0;
  transform: translateX(-100px); /* Cambiado para que venga del costado */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out, box-shadow 0.6s ease-out;
}

.regalo.visible {
  opacity: 1;
  transform: translateX(0);
  filter: drop-shadow(0px 0px 10px var(--shadow)); /* Sombra fuerte */
}

.regalo:not(.visible) {
  opacity: 0;
  transform: translateX(100px); /* Cambiado para que se vayan al costado */
}

.caja, .tapa {
  background:
      -webkit-radial-gradient(transparent 10%, transparent 15.1%),
      -webkit-radial-gradient(transparent 7%, transparent 15.1%),
  var(--color-bg);
  border: 1px solid var(--color);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
  position: relative;
  margin: 0;
}

.caja {
  width: 35vw;
  height: 13vh;
}

.tapa {
  width: 35vw;
  height: 40px;
  box-shadow: 1px 8px 3px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 0 2px;
  background-color: transparent;
  border: 1px solid var(--color);
  top: 0;
  left: 0;
  transition: 
      top ease-out 0.5s,
      left ease-out 0.5s,
      transform ease-out 0.5s;
}

.caja span, .tapa span {
  position: absolute;
  display: block;
  background: var(--color-bg); /* Azul brillante */
  border: 1px solid var(--color);
  box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
}

.caja span:first-child {
  width: 100%;
  height: 20%;
  top: 40%;
}

.caja span:last-child, .tapa span {
  width: 20%;
  height: 100%;
  left: 40%;
}

.tapa span {
  left: 40%;
}

.promo {
  font-size: 25px;
  color: var(--color-light); /* Color claro para el texto */
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  position: relative;
  height: 0;
  top: 10px;
  transition: all ease-out 0.7s;
}

.promo p {
  font-size: 24px;
  margin: 0;
}

.promo h2 {
  font-size: 20px;
  margin: 0;
}

/* Efecto hover */
.regalo:hover .tapa {
  top: -100px;
  transform: rotateZ(10deg);
  left: 10px;
}

.regalo:hover .promo {
  top: -80px;
}

.promo p, .promo a {
  opacity: 0; /* Inicialmente oculto */
  visibility: hidden; /* Evita que ocupen espacio cuando están ocultos */
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.regalo.clicked .promo p,
.regalo.clicked .promo a {
  opacity: 1; /* Mostrar al hacer clic */
  visibility: visible; /* Asegura que los elementos sean visibles */
}

/* LINEA FACHA */

.linea-facha {
  width: 100%;
  height: 1px;
  margin: 0;
  padding: 0;
  background-color: var(--color);
  position: relative;
  overflow: hidden; /* Evita que el elemento ::after se salga del contenedor */
}

.linea-facha::after {
  content: '';
  width: 1rem;
  height: 1rem;
  background: linear-gradient(to right, var(--color), #fff);
  box-shadow: 0 0 30px #fff;
  position: absolute;
  left: 0;
  z-index: 100;
  animation: linea 2s infinite forwards; /* Añade forwards para que termine en la última posición */
}

@keyframes linea {
  0% {
    left: 0;
  }
  100% {
    left: 100%; /* Llega al final del contenedor */
  }
}

